body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#500000,#c4a7a7,#500000);

}
div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}
.pulse{
    height: 300px;
    width: 300px;
    background: rgba(120, 5, 5, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    animation: pulse 1.5s linear infinite;  
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(120, 5, 5, 1);;
    }
    100%{
        box-shadow: 0 0 0 50px rgba(120, 5, 5, 0);;
    }
}
