body{
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 1rem;
    counter-reset: lista;
}
.ul li{
    list-style: none;
}
.ul li:before{
    counter-increment: lista;
    content: counter(lista) " ||||||| ";
}
