body{   
    height: 100vh;
    margin: 0;
    background: #061b55;
}
.flex{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-item{
    color: #ffffff;
    background: #dd0e0e;
    text-align: center;
    width: 400px;
    max-width: 400px;
}
