body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ponteiro{
    height: 200px;
    width: 20px;
    background: rgb(78, 3, 3);
    border-radius: 10px 10px 0px 0px;
    transform: rotate(-90deg);
    transform-origin: bottom;
    transition: 2s;
}
.ponteiro:hover{
    transform: rotate(30deg);
    transition: 1s;
    animation: limite 0.5s 1s ease-in-out infinite;
}
@keyframes limite{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(32deg);
    }
}
